* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d2128;
}

.Imagens {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.Background {
  margin-top: 50px;
  width: 40vw;
  height: auto;
  margin-left: 30px;
}

.Informacoes {
  position: absolute;
  top: 50px;
  right: 90px;
  width: 50%;
  color: white;
  margin-top: 50px;
}

input {
  border: 1px solid #9999;
  border-radius: 22px;
  width: 85%;
  background: transparent;
  font-size: 18px;
  padding: 10px;
  margin: 0;
}

button {
  border: 1px solid #9999;
  color: white;
  border-radius: 22px;
  background: transparent;
  width: 80px;
  font-size: 18px;
  padding: 10px;
  margin-left: 10px;
}

.Perfil {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 40px 0;
}

.FotoPerfil {
  width: 165px;
  height: 165px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0;
}

.InformacoesPerfil {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.InformacoesPerfil h3 {
  color: #9999;
  font-size: 24px;
  margin-top: 1px;
  margin-left: 18px;
  margin-right: 32px;
}

.InformacoesPerfil p {
  color: #9999;
  font-size: 12px;
  margin: 20px 0 0 0;
  margin-left: 18px;
  margin-right: 32px;
}

.InformacoesPerfil span {
  color: #9999;
  font-size: 12px;
  margin-top: 1px;
  margin-left: 18px;
  margin-right: 32px;
}

.ItemList {
  flex: 1 1 35%;
  margin-top: 50px;
}

.ItemList hr {
  margin-bottom: 20px;
  margin-top: 120px; /* Aumente esse valor para descer mais o hr */
  width: 100%;
  border: 1px solid rgba(229, 229, 229, 0.2);
}

.ItemList h3 {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}
